<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template.html}">
<head>
<meta charset="utf-8">
<title>GESTION DES COMPTES BANCAIRES</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
th:href="@{/css/style.css}" />
</head>
<body>
<div layout:fragment="content">
<div class="row">
  <div class="col-md-6">
 <div class="card">
 <div class="card-header bg-primary">CONFIRMATION ADD ACCOUNT</div>
 <div class="card-body">
 <div> 
 <h6>Le nouveau Compte a été ajouté avec succes!!</h6>
 </div>
 </div>
</div>
</div>
</div>
</div>
</body>
</html>