<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template.html}">
<head>
<meta charset="utf-8">
<title>GESTION DES COMPTES BANCAIRES</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
th:href="@{/css/style.css}" />
</head>
<body>
<div layout:fragment="content">
<div class="row">
  <div class="col-md-6">
 <div class="card" th:if="${client}">
 <div class="card-header bg-primary">CUSTOMER INFORMATION</div>
 <div class="card-body">
 <div> 
 <h6>La mise à jour du client a été effectuer  avec succes!!</h6>
 </div>
 <div> 
 <label>Nom:</label>
 <label th:text="${client.nom}"></label>
 </div>
 <div>
 <label>Email:</label>
 <label th:text=${client.email}></label>
 </div>
 <div th:each="c :${client.comptes}">
 <div>
 <label>Compte code:</label>
 <label th:text=${c.code}></label>
 </div>
 <div>
 <label>Date Création:</label>
 <label th:text=${c.dateCreation}></label>
 </div>
  <div>
 <label>Solde:</label>
 <label th:text=${c.solde}></label>
 </div>
 <div>
 <label>Type:</label>
 <label th:text=${c.class.simpleName}></label><br>
 </div>
 
 <div th:if="${c.class.simpleName=='CompteCourant'}">
 <label>Découvert:</label>
 <label th:text="${c.decouvert}"></label>
 </div>
 <div th:if="${c.class.simpleName=='CompteEpargne'}">
 <label>Taux:</label>
 <label th:text="${c.taux}"></label>
 </div>
 </div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>